<div *ngIf="mostrar">
    <p>
        {{Nombre.Nombre}}
    </p>
    <p>
        {{Nombre.Direccion}}
    </p>
    <p>
        {{Nombre.Numero}}
    </p>

</div>
<button type="button" (click)="mostrar=!mostrar">Mostrar/Ocultar</button>
